<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}InstallBiz Analyzer{% endblock %}</title>

        <link rel="stylesheet" href="/static/css/pico.min.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        {% block styles %}{% endblock %}
    </head>
    <body>
        <main class="container">
            <!-- ШАПКА САЙТА -->
            <header class="site-header">
                <nav class="site-nav">
                    <ul>
                        <li><strong><a href="/">InstallBiz Analyzer</a></strong></li>
                        <li><a href="/files">Файлы</a></li>
                    </ul>
                </nav>

                <!-- Кнопка загрузки и индикатор только на странице загрузки -->
                {% block download_controls %}{% endblock %}
            </header>

            {% block content %}{% endblock %}
        </main>

        {% block scripts %}{% endblock %}
    </body>
</html>
